@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template: 2fr 1fr 4fr 1fr / repeat(4, auto);
    gap: 10px;
    height: 150vh;
}

.topo {
    background-color: red;
    grid-area: 1 / 1 / 2 / -1;
}

.menu {
    background-color: green;
    grid-area: 2 / 1 / 3 / -1;
}

.principal {
    background-color: blue;
    grid-area: 3 / 1 / -2 / -2;
}

.secundario {
    background-color: yellow;
    grid-area: 3 / -2 / -2 / -1;
}

.rodape {
    background-color: orange;
    grid-area: -2 / 1 / -1 / -1;
}